<connectionStrings>
  <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  <add name="eToolsEntities" 
         connectionString="metadata=res://*/eToolsModel.csdl|res://*/eToolsModel.ssdl|res://*/eToolsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=eTools;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
</connectionStrings>
