<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="eToolsEntities" connectionString="metadata=res://*/eToolsModel.csdl|res://*/eToolsModel.ssdl|res://*/eToolsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=eTools;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>